<% content_for :stylesheets do %>
  #logo { display: none }
<% end %>

<div class="center hero-unit">

<%= image_tag("logo_lowres_black.png", alt: "CultureDab Logo") %>
  <br /><br />
  <h1>Welcome to CultureDab</h1>
  <br />
  <h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta nibh non nisi commodo ac feugiat justo tincidunt. Praesent malesuada.
  </h2>
  <br />
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>