<% provide(:title, @user.name) %>
<div class="row">
  <aside>
    <section>
    	<div class="span2">
    		<%= gravatar_for @user %>
    	</div>
    	<div class="span1">
    		<p>Rank</p>
    		<p>Reputation</p>
    	</div>
    	<div class="span3">
    		<h1>
        	Folling and Social
      		</h1>
      	</div>
    	<div class="span6">
    		<h1>
        	<%= @user.name %>
        	</h1>
        		<p>
    			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur ligula ut eros accumsan sed molestie purus scelerisque. Maecenas lacinia blandit nisi. Ut rutrum elit sed justo consectetur vehicula. Aenean enim dui, pretium at tincidunt quis, congue in tellus. Duis aliquet placerat porta. Praesent scelerisque ante ac magna vehicula faucibus. Proin pellentesque dignissim auctor. Donec volutpat purus at risus fringilla euismod. Vestibulum ante dolor, aliquam et ultrices sit amet, pulvinar at tortor. Sed mollis tincidunt mauris, ac gravida justo consequat ut. Praesent sit amet neque quis mi faucibus suscipit. Ut et rhoncus nisi. Vestibulum nec condimentum sem. Phasellus pellentesque faucibus. 
    		</p>
      	</div>
    </section>
  </aside>
</div>