<% provide(:title, @user.name) %>
<div class="row">
  <aside>
    <section>
      <div class="span12">
        <h1>
          <%= @user.name %>
        </h1>
        <div class="row">
    	    <div class="span2">
    		    <%= gravatar_for @user, size: 200 %>
    	    </div>
    	    <div class="span3">
            <%= render 'layouts/status' %>
      	  </div>
    	    <div class="span7">
            <div class="hero-unit">
        	  <p>
    			   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consectetur ligula ut eros accumsan sed molestie purus scelerisque. Maecenas lacinia blandit nisi. Ut rutrum elit sed justo consectetur vehicula. Aenean enim dui, pretium at tincidunt quis, congue in tellus. 
            </p>
            <p>
              Duis aliquet placerat porta. Praesent scelerisque ante ac magna vehicula faucibus. Proin pellentesque dignissim auctor. Donec volutpat purus at risus fringilla euismod. Vestibulum ante dolor, aliquam et ultrices sit amet, pulvinar at tortor. 
    		    </p>
          </div>
      	  </div>
        </div>
      </div>
    </section>
  </aside>
</div>
<div class="row">
  <aside>
    <section>
      <div class="span12">
        <div class="border">
        </div>
          <%= render 'layouts/user-media' %>
      </div>
    </section>
  </aside>
</div>