<div class="aside">
<table border="0" width="100%">
	<tr>
        <td width="40%"><h3>Rank:</h3></td>
        <td><h2>3</h2></td>
    </tr>
    <tr>
        <td><h3>Reputation:</h3></td>
        <td><h2>11,356</h2></td>
    </tr>
    <tr>
        <td><h3>Location:</h3></td>
        <td><h4>California, USA</h4></td>
    </tr>
    <tr>
        <td><h3>Social Links:</h3></td>
        <td>
          <small><h4>
    		<%= link_to image_tag("facebook-20.png", alt: "Facebook", border: "0"), '#' %>
    		<%= link_to image_tag("twitter-20.png", alt: "Twitter", border: "0"), '#' %>
    		<%= link_to image_tag("youtube-20.png", alt: "YouTube", border: "0"), '#' %>
    		 <%= link_to image_tag("vimeo-20.png", alt: "vimeo", border: "0"), '#' %>
  			</h4></small>
  		</td>
    </tr>
</table>
</div>